.button {
  border-radius: 50px;
  padding: 5px;
  min-width: 120px;
  font-weight: 600;
  color: #fff;
  appearance: none;
  cursor: pointer;
}

.button-success {
  background-color: #2ecc71;
}
.button-danger {
  background-color: #e74c3c;
}
